h1.title {
	font-family: "Bitter", serif;
	font-size: 400%;
	font-weight: bold;
	margin-bottom: 0px;
	display: inline-block;
	padding-right: 4%;
body {
	font-family: "Bitter", sans-serif;
	font-size: 12pt;
	padding-right: 18%;
	padding-left: 18%;
	margin-top: 0px;
	transition: background-color 0.5s, color 0.5s;
	color: #1c1c1c;
