body {
	font-family: "Consolas", monospace;
	font-size: 15pt;
	padding-left: 6%;
	padding-right: 6%;

}
table {
	border-collapse: collapse;
	width: auto;
}
td, th {
	border: 1px solid #202020;
	text-align: left;
	padding: 8px;
}
tr:nth-child(even) {
	background-color: #dddddd;
}
.banner { display: inline-block; }
div#title {
	width: 100%;
	text-align: center;
}
#small {
	font-size: 73%;
}
p.credit {
	color: #454545;
	font-style: italic;
	font-size: 80%;
}




@media only screen and (max-device-width: 700px) {
	body { font-size: 13pt; }
	div#title { font-size: 43%; }
	table { width: 100% }
}
